<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unlimigur</title>
    <style>
        .float {
            top: 0px;
            right: 20px;
            position: fixed;
            z-index: 2;
            background-color: gray;
        }

    </style>
</head>
<body>
    <h3 id="floater" class="float">
        
    </h3>
    <h1>
        <button> <a href="/">Unlimigur</a> </button>
        <button> <a href="/beta">Unlimigur Beta</a> </button>
    </h1>
        <table>
            <tbody id="tbody">
            </tbody>
        </table>
    <script>
var range = n => [...Array(n).keys()];
var tr = document.createElement("tr");
async function load() {
    // while (true) {
        // for (var a in range(6)) {
        let start = new Date().getTime();
        let links = await fetch("/api").then((res) => res.json());
        let elapsed = new Date().getTime() - start;
        document.getElementById("floater").innerText = elapsed / 1000 + "s"; 
        for (var link in links) {
            let image = document.createElement("img");
            let button = document.createElement("a");
            let split = links[link].split("s.jpg")[0]
            image.src = links[link];
            image.width = "200";
            image.height = "200";
            button.href = split + ".png";
            button.target = "_blank";
            button.appendChild(image);
            tr.appendChild(button);
        };
        document.getElementById("tbody").appendChild(tr);
        // }
        // await setTimeout(() => {console.log('1 second finished!')}, 1000);
    // }
    // console.log(links);
    // var j = links.json();
    // console.log("resolved");
    // console.log(j);
}

const globalData = {
  done: true
}

setInterval(async () => {
  if (globalData.done) {
    globalData.done = false
    await load()
    globalData.done = true
  }
}, 200)
    </script>
</body>
</html>