<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinimgur</title>
    <style>
        /* .zoom {
            padding: 50px;
            background-color: green;
            transition: transform .2s; Animation
            width: 200px;
            height: 200px;
            margin: 0 auto;
        } */
        .zoom:hover {
            transform: scale(1.5);
        }
        .float {
            top: 0px;
            right: 20px;
            position: fixed;
            z-index: 2;
            background-color: gray;
        }
    </style>
</head>
<body>
    <h3 id="floater" class="float">
        
    </h3>
    <h1>
        <button> <a href="/">Unlimigur</a> </button>
        <button> <a href="/beta">Unlimigur Beta</a> </button>
    </h1>

        <table style="padding-left: 60px;">
            <tbody id="tbody">
            </tbody>
        </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='alpha.js')}}"></script>
    <script>

var range = n => [...Array(n).keys()];
const tr = document.createElement("tr");
async function load() {
    let start = new Date().getTime();
    let URL = await GenerateID();
    let elapsed = new Date().getTime() - start;
    console.log(URL);
    if (URL === "Fuck you") {
        return
    } else {
        document.getElementById("floater").innerText = elapsed / 1000 + "s"; 
        let image = document.createElement("img");
        let button = document.createElement("a");
        image.src = URL;
        image.className = "zoom";
        image.style = "object-fit: contain;";
        image.setAttribute("data-enlargeable", "")
        image.width = "300";
        image.height = "300";
        button.onclick = "showimage(" + URL + ")";
        button.appendChild(image);
        tr.appendChild(button);
        document.getElementById("tbody").appendChild(tr);
        let images = document.getElementsByTagName("img");
    }
    // for (let a in images) {
    //     if (images[a].src == "https://i.imgur.com/removed.png") {
    //         document.removeChild(images[a]);
    //     }
    // }
}


// setInterval(function () {
//     load();
// }, 1000)
// GenerateID()
// const globalData = {
//   done: true
// }

const globalData = {
  done: true
}

setInterval(async () => {
  if (globalData.done) {
    globalData.done = false
    await load()
    globalData.done = true
  }
}, 500)
    </script>
</body>
</html>